.DS_Store

node_modules/
.env
.docker
.idea
.pnpm-debug.log
cdk.out
.envrc.private
/config
.run
.vscode
.build
*.js
*.js.map
*.d.ts
tsconfig.tsbuildinfo
.ultra.cache.json
.eslintcache
lib
coverage

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions